{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}

{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="jumbotron p-3">
        <div class="col md-8">

                <h2 class="display-4">Manage <b >Users </b>  </h2>
        </div>
        </div>
    </div>
        <table id="sample_data_user" class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>Fullname</th>
                        <th>Username</th>
                        <th>Role</th>
                    </tr>
                </thead>
                <tbody>
                   {% for row in user_data %}
                    <tr>
                        <td>{{row.fullname}}</td>
                        <td>{{row.username}}</td>
                        <td>{{row.roles[0].name}}</td>
                        <td>
                            <a href="{{ url_for('user.update', id=row.id)}}" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit{{row.id}}">Edit</a>
                        </td>
                    </tr>
    <!-- Modal Edit User-->
     <div id="modaledit{{row.id}}" class="modal fade" role="dialog">
        <div class="modal-dialog">
        <div class="modal-content">
       <div class="modal-header"><h4 class="modal-title">Update Information</h4></div>
        <div class="modal-body">
        <form action="{{url_for('user.update', id=row.id)}}" method="POST">
         <div class="form-group">
          <label>Fullname:</label>
          <input type="hidden"  name="id" value="{{row.id}}">
          <input type="text" class="form-control" name="fullname" value="{{row.fullname}}">
         </div>
         <div class="form-group">
          <label>Username:</label>
          <input type="text" class="form-control" name="username" value="{{row.username}}">
         </div>
         <div class="col-auto">
          {{ wtf.form_field(form.roles) }}
         </div>
          <div class="form-group">
          <button class="btn btn-primary" type="submit">Update</button>
         </div>
        </form>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
      </div>
     </div>
     {% endfor %}
     </tbody>
        </table>

   </div>

{% endblock %}