{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}

{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="jumbotron p-3">
        <div class="col md-8">
                <h2 class="display-4">Manage <b >Alarms </b>  </h2>
        </div>
        <div class="col md-4">
            <button type="button"  class="btn btn-success float-right"
            data-toggle="modal" data-target="#mymodal">Add New Alarm</button>
        </div>
            <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Напоминание
                    </button>
                  </h5>
                </div>

                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class="card-body">
                    <table class="table">
                        <tbody>
                            <tr><td><strong>1.1_Welcome</strong></td><td>Уважаемые коллеги</td></tr>
                            <tr><td><strong>2.1_Tech</strong></td><td>В настоящее время наблюдаются технические проблемы в работе сервисов..</td></tr>
                            <tr><td><strong>2.2_Plan</strong></td><td>В настоящее время проводятся плановые технические работы, затрагивающие сервисы..</td></tr>
                            <tr><td><strong>3.1_Email</strong></td><td>Электронной почты</td></tr>
                            <tr><td><strong>3.2_Kargo</strong></td><td>Карго</td></tr>
                            <tr><td><strong>3.3_Net_files</strong></td><td>Доступа к сетевым файлам</td></tr>
                            <tr><td><strong>3.4_Pbx</strong></td><td>Телефонии</td></tr>
                            <tr><td><strong>3.5_Terminal</strong></td><td>Терминальных станций</td></tr>
                            <tr><td><strong>3.6_Internet</strong></td><td>Доступа в интернет</td></tr>
                            <tr><td><strong>3.7_Service_Desc</strong></td><td>Сервис-деск</td></tr>
                            <tr><td><strong>3.8_Remote_desktop</strong></td><td>Удалённого доступа</td></tr>
                            <tr><td><strong>3.9_Printers</strong></td><td>Доступа к принтерам</td></tr>
                            <tr><td><strong>3.10_PC</strong></td><td>Авторизации на рабочих компьютерах</td></tr>
                            <tr><td><strong>3.11_Mob_app</strong></td><td>Мобильного приложения</td></tr>
                            <tr><td><strong>3.12_Personal_area</strong></td><td>Личного кабинета</td></tr>
                            <tr><td><strong>3.13_Integration</strong></td><td>Интеграции с клиентами</td></tr>
                            <tr><td><strong>3.14_Money</strong></td><td>Приёма платежей</td></tr>
                            <tr><td><strong>4.1_Tech</strong></td><td>Наши специалисты уже занимаются устранением сбоя. Работа сервисов будет восстановлена в максимально короткие сроки.</td></tr>
                            <tr><td><strong>4.2_Plan</strong></td><td>По завершению работ, сервисы будут восстановлены.</td></tr>
                            <tr><td><strong>4.3_Sheet</strong></td><td>С расписанием плановых работ вы можете ознакомиться на корпоративном портале.</td></tr>
                            <tr><td><strong>5.1_Bye</strong></td><td>Спасибо за понимание.</td></tr>
                            <tr><td><strong>6.1_Portal</strong></td><td>Вы можете самостоятельно завести заявку на портале самообслуживания, выбрав нужную категорию в каталоге услуг.</td></tr>
                        </tbody>
                    </table>
                  </div>
                </div>
            </div>
            </div>
        </div>
          <div class="row">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-success alert-dismissable" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="close">
                        <span aria-hidden="true">x</span>
                    </button>
                    {{message}}
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        </div>


        <table id="sample_data" class="table table-hover table-striped">
                <thead>
                    <tr>
{#                        <th>ID</th>#}
                        <th>Set_Time</th>
                        <th>Play_file</th>
                        <th>Order</th>
                        <th>Active</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                   {% for row in alarm_data %}
                    <tr>
{#                        <td>{{row.id}}</td>#}
                        <td>{{row.set_time}}</td>
                        <td>{{row.play_file}}</td>
                        <td>{{row.order}}</td>
                        <td>
                        {% if row.active %}
                            <input type="checkbox" name="active" checked="checked", data-active_id="{{ row.id }}", class="checkbox_check">
                        {% else %}
                            <input type="checkbox" name="active", id="checkbox_check", data-active_id="{{ row.id }}", class="checkbox_check">

                         {% endif   %}
                        </td>
                        <td>
                            <button href="{{ url_for('pbx.alarm_update', id=row.id )}}" class="btn btn-warning btn-xs alarm_update" data-toggle="modal"
                               data-target="#modalAlarmedit{{row.id}}" data-play_file="{{ row.play_file }}" data-order="{{ row.order }}" data-active="{{ row.active }}">Edit</button>
                            <a href="{{ url_for('pbx.alarm_delete', id=row.id )}}" class="btn btn-danger btn-xs" onclick="return confirm('Are You Sure To Delete ?')">Delete</a>
                        </td>
                    </tr>



     <!-- Modal Edit Employee-->
 <div id="modalAlarmedit{{row.id}}" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"><h4 class="modal-title">Edit Alarm</h4></div>
            <div class="modal-body">
                <form action="{{url_for('pbx.alarm_update', id=row.id)}}" method="POST">
                    <div class="form-group">
                        {{ form.hidden_tag() }}
                    <input type="hidden"  name="id" value="">
                    <div class="col-auto modal_play_file">
                      {{ wtf.form_field(form.play_file) }}
                    </div>
                    <div class="col-auto modal_order">
                      {{ wtf.form_field(form.order) }}
                    </div>
                    <div class="col-auto modal_active">
                      {{ wtf.form_field(form.active) }}
                    </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" id="submit" type="submit">Update</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
 </div>
     {% endfor %}
    </tbody>
        </table>

  <!-- Modal Add Employee-->
    <div id="mymodal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header"><h4 class="modal-title">Add Exten</h4></div>
    <div class="modal-body">
     <form action="{{url_for('pbx.alarm_insert')}}" method="POST", role="form">
           {{ form.hidden_tag() }}
           {{ wtf.form_errors(form, hiddens="only") }}
      <div class="col-auto">
          {{ wtf.form_field(form.play_file) }}
      </div>
      <div class="col-auto">
          {{ wtf.form_field(form.order) }}
      </div>
      <div class="col-auto">
          {{ wtf.form_field(form.active) }}
      </div>
       <div class="modal-footer">
        <button type="submit" class="btn btn-primary" >Submit</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
     </form>
    </div>

   </div>
   </div>
  </div>
</div>
{% endblock %}