<html>
  <head>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
        <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" />
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/js/bootstrap-editable.js"></script>
<script type="text/javascript" language="javascript">
$(document).ready(function(){
    var dataTable = $('#sample_data').DataTable( {
        "paging":   true,
        "ordering": true,
        "info":     true,
        "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
        "columns": [
            null,
            null,
            { orderable: false },
            { orderable: false }
            ]
    });
});
$(document).ready(function(){
    var dataTable = $('#sample_data_clid').DataTable( {
        "paging":   true,
        "ordering": true,
        "info":     true,
        "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
        "columns": [
            null,
            null,
            null,
            null,
            { orderable: false },
            { orderable: false }
            ]
    });
});

$(document).on("click", ".alarm_update", function () {
     var play_file = $(this).data('play_file');
     var order = $(this).data('order');
     var active = $(this).data('active');
     $(".modal-body #play_file").val( play_file );
     $(".modal-body #order").val( order );
     if (active=="True") {
         $(".modal-body #active").prop("checked", true);
     } else {
         $(".modal-body #active").prop("checked", false);
     }
});
</script>
    </head>



{#{% block title %}#}
{#    <h3>PBX Portal</h3>#}
{#{% endblock %}#}
{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('main.index') }}">PBX Portal</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('main.index') }}">Home</a></li>
                    <li><a href="{{ url_for('pbx.index') }}">Clid</a></li>
                    <li><a href="{{ url_for('pbx.exten_index') }}">Exten</a></li>
                    <li><a href="{{ url_for('pbx.alarm_index') }}">Alarm</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">

                    {% if current_user.is_anonymous %}
                        <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                    {% else %}
                        {% if current_user.roles[0].name == 'Admin' %}
                            <li><a href="{{ url_for('user.user') }}">Admin</a></li>
                        {% endif %}
                        <li><a class="nav-link" role="button" data-toggle="tooltip" data-html="true"
                               href="{{ url_for('auth.logout') }}"
                               title="{{ current_user.fullname }}
{{ current_user.company }}
{{ current_user.department }}
{{ current_user.title }}">Logout</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
{% block content %}

    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}
        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}
