{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
    {% if current_user.is_anonymous %}
            <h1>Hello!</h1>
    {% else %}
            <h2>Привет </h2>
            <h2>ты залогинился используя учетку LDAP!</h2>
        <br>
        <h4>Твои данные</h4>
        <li><b>компания</b>: {{ current_user.company }}</li>
        <li><b>департамент</b>: {{ current_user.department }}</li>
        <li><b>должность</b>: {{ current_user.description }}</li>
        <li><b>ФИО</b>: {{ current_user.fullname }}</li>
        <li><b>почта</b>: {{ current_user.email }}</li>
        <li><b>логин</b>: {{ current_user.username }}</li>
            {% if data %}
                <h3>{{ data }}</h3>
            {% endif %}
    {% endif %}
    {% if form %}
    {{ wtf.quick_form(form) }}
    <br>
    {% endif %}
{% endblock %}